<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photobooth | My Portfolio</title>
    
    <link rel="stylesheet" href="home.css" />
    <link rel="stylesheet" href="photobooth.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">MyJourney</div>
            <ul class="nav-links">
                <li><a href="home.html">Home</a></li>
                <li><a href="about_me.html">About Me</a></li>
                <li><a href="games.html">Favorite Game</a></li>
                <li><a href="movies.html">Favorite Movies</a></li>
                <li><a href="photobooth.html" class="active">Photobooth</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li class="theme-switch">
                    <span>Dark Mode</span>
                    <label class="switch">
                        <input type="checkbox" id="theme-toggle">
                        <span class="slider"></span>
                    </label>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="gallery-wrapper">
            <h1>Moments from My Travels</h1>
            <p class="gallery-description">These photos capture some special moments from my journeys, taken during my walks and explorations.</p>
            <div class="box" id="image-gallery">
                </div>
        </div>
    </main>

    <footer>
        <p>Contact me:</p>
        <ul class="socials">
            <li>Email: <a href="mailto:teobal1221@gmail.com">teobal1221@gmail.com</a></li>
            <li>Phone: +40 751 011 052</li>
            <li><a href="#">LinkedIn</a></li>
            <li><a href="#">Instagram</a></li>
        </ul>
        <p>&copy; 2025 My Portfolio</p>
    </footer>

    <script src="photobooth.js"></script>
    <script src="home.js"></script>
</body>
</html>